<div class="container__footer">
  <div class="footer__logo">
    <img src="../../../assets/cars logo.png" alt="Logo">
  </div>
  <div class="footer__menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>

  <div class="footer__social-media">
    <ul>
      <li><a href="#"><img src="https://slavovdev.vercel.app/static/media/logo_slavov.f3643d84293502d00376fc3ecb27f293.svg" alt="Portifolio Link" width="100px"></a></li>
      <li><a href="#"><img src="https://logospng.org/download/linkedin/logo-linkedin-icon-4096.png" alt="Linkedin Link" width="30px"></a></li>
      <li><a href="#"><img src="https://seeklogo.com/images/G/github-logo-2E3852456C-seeklogo.com.png" alt="Github Link" width="30px"></a></li>
    </ul>
  </div>

</div>
