.container__big-card {
  margin: 2rem 1rem;
  max-width: 50rem;
  max-height: 37.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 300ms ease-out;
}


.big-card__image img {
  border-radius: 0.2rem;
  width:25rem;
  max-width: 25rem;
  max-height: 37.5rem;
  margin-bottom: 1rem;
  object-fit: cover;

}

.container__big-card:hover {
  transform: translate(0px, 0px) scale(1.1, 1.1);
  background-color: black;
  box-shadow: rgba(71, 52, 52, 0.24) 0px 3px 8px;;
}
.big-card__title h1 {
  font-size: 1.25rem;
  max-width: 25rem;

}

.big-card__description p {
  color: gray;
  max-width: 25rem;
  font-size: 0.75rem;
  margin-top: 0.8rem;
}


