.bg-full {
  background-color: black;
}
.btn-go-back{
  background-color: #f44336;
  color: white;
  width: 100px;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.container__content {
  color: black;
  width: 100vw;



  display: flex;
  flex-direction: column;



}


.content__image img {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100vw;
  min-width: 100%;
  height: 500px;
  object-fit: cover;
}
.content__title h1 {
  color: white;
  justify-content: flex-start;
  margin: 1em 40px;
}

.content__description p  {
  justify-content: flex-start;
  color: grey;
  margin: 1em 40px;
}
