.bg-full{
  background-image: url('../../../assets/navbar-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.container__articles {
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}


@media screen and (max-width: 600px) {
  .container__articles {
    flex-direction: column;
    justify-content: center;
    margin: 20px;

  }
}
